<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>

    <script type="text/javascript" src="/apps/{{{sdk}}}/sdk.js"></script>
    {{#remote_javascript_files}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/remote_javascript_files}}

    <script type="text/javascript">
        Rally.onReady(function () {
            {{#javascript_files}}
                {{{.}}}
            {{/javascript_files}}

            Rally.launchApp('{{className}}', {
                name:"{{name}}",
                parentRepos:"{{{parents}}}",
                version:"{{version}}"
            });

        });
    </script>

    {{#remote_css_files}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}"/>
    {{/remote_css_files}}

    {{#css_files}}
    <style type="text/css">
        {{{.}}}
    </style>
    {{/css_files}}
</head>
<body>
{{#html_files}}
    {{{.}}}
{{/html_files}}
</body>
</html>
