<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>

    <script type="text/javascript" src="/apps/{{{sdk}}}/sdk.js"></script>

{{#remote_javascript}}
    <script type="text/javascript" src="{{{.}}}"></script>
{{/remote_javascript}}

    <script type="text/javascript">
        Rally.onReady(function () {
{{{javascript}}}
            
            Rally.launchApp('{{className}}', {
                name:"{{name}}",
                parentRepos:"{{{parents}}}"
            });

        });
    </script>


{{#remote_css}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}">
{{/remote_css}}

    <style type="text/css">
{{{css}}}
    </style>

</head>
<body></body>
</html>
