<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>

    <script type="text/javascript" src="/apps/{{{sdk}}}/sdk.js"></script>




    <script type="text/javascript">
        Rally.onReady(function () {
            {{#javascript_files}}
                {{{.}}}
            {{/javascript_files}}

            Rally.launchApp('{{className}}', {
                name:"{{name}}"
            });

        });
    </script>


{{#css_files}}
    <style type="text/css">
        {{{.}}}
    </style>
{{/css_files}}
</head>
<body></body>
</html>
